<div id="alert-modal" class="modal modal--alert modal--small" data-reveal data-prevent-quick-search-close>
    <div class="alert-icon error-icon">
        <span class="icon-content">
            <span class="line line-left"></span>
            <span class="line line-right"></span>
        </span>
    </div>

    <div class="alert-icon warning-icon">
        <div class="icon-content">!</div>
    </div>

    <div class="alert-icon success-icon">
        <div class="icon-content">
            <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52.49 38.87">
                <g id="Layer_1-2" data-name="Layer 1">
                    <polygon points="17.15 38.87 0 21.72 3.54 18.18 17.15 31.8 48.95 0 52.49 3.54 17.15 38.87"/>
                </g>
            </svg>
        </div>
    </div>

    <div class="modal-content"></div>

    <div class="button-container">
        <button type="button" class="confirm button" data-reveal-close>{{lang 'common.ok'}}</button>
        <button type="button" class="cancel button" data-reveal-close>{{lang 'common.cancel'}}</button>
    </div>
</div>
